<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form"  #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input type="email" id="email" name="email" ngModel
            required #email="ngModel" matInput placeholder="Email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input type="password" id="pass" name="pass" ngModel
            required #pass="ngModel" matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Log in</button>
      </form>
    </mat-card> 
  
  </div>