<div class="div-block-6">
    <div class="width-limit-1100">
        <div class="div-block-12">
            <a href="javascript:window.history.go(-1)" class="link-block w-inline-block"><img src="https://uploads-ssl.webflow.com/5e8759d74692c3d52b0a1a9d/5e8ae5f9acdbb585184286d4_arrow_forward_ios-24px.svg" alt="" class="image">
                <h5 class="heading-7 blacklink">Back</h5></a>
            <div class="w-layout-grid grid">
                <div id="w-node-8a8527df6c97-e7d7ace2" class="div-block-3">
                    <h2>{{store.Name}}</h2>
                    <h5 class="address">{{store.Address}}</h5><br>
                    <p>{{store.Description}}</p>
                    <div class="div-block-7">
                        <div class="div-block-35">
                            <h4 class="voucher-code">VOUCHER&nbsp;CODE</h4>
                            <h4 class="voucher-code-copy bold">SELFISOLATING</h4></div>
                        <h4 class="heading-4">Services available</h4>
                        <div class="w-richtext">
                            <div *ngFor="let cat of categories" style="max-width: 100px;    display: inline-block; margin-right:5px">
                                <div style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;" class="biz-counter">
                                    <h5 class="heading-20 counter">{{cat.name}}</h5></div>
                                </div>
                        </div>
                        <h4 class="heading-4">Collection / delivery info</h4>
                        <div *ngFor="let loca of localities" style="display: inline-block; margin-right: 10px;">
                            <div style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;" class="lockdown-counter">
                                <h5 class="heading-20 counter">{{loca.name}}</h5>
                            </div>
                            </div>
                    </div>
                    <div class="div-block-5">
                        <div class="div-block-8"></div>
                        <div class="div-block-9"><a href="https://www.cairngormcoffee.com/" target="_blank" class="button w-button">Go to their site</a>
                            <h5 class="heading-3 w-dyn-bind-empty"></h5></div>
                    </div>
                </div>
                <div id="w-node-a3f0b5bda3db-e7d7ace2" style="background-image:url(&quot;{{store.headImage[0]}}&quot;)" class="div-block-4"></div>
            </div>
            <h5 class="heading-11">Something look wrong? <a href="/contact-us" class="link-4">Let us know</a></h5></div>
    </div>
</div>