<!-- <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="name">Primary Email </label>
    <input type="text" id="address" name="name" formControlName="primaryEmail">
  </p>
  <p>
    <label for="name">Vendor</label>
    <input type="text" id="vendor" name="name" formControlName="vendor">
  </p>
  <p>
    <label for="name">Locality </label>
    <input type="text" id="locality" name="name" formControlName="locality">
  </p>
    <p>
      <label for="name">Address </label>
      <input type="text" id="address" name="name" formControlName="address">
    </p>
    <p>
        <label for="name">Mobile </label>
        <input type="text" id="mobile" name="name" formControlName="number">
    </p>
    <div formArrayName="categories">
        <div *ngFor="let category of getCategories.controls; let i=index">
            <div [formGroupName]="i">
              name :
              <input type="text" formControlName="name">
              id:
              <input type="text" formControlName="ids">
              <button (click)="removeCategory(i)">Remove</button>
            </div>
          </div>
    </div>

    Products:
    <div formArrayName="orderItems">
      <div *ngFor="let item of getOrderItems.controls; let i=index">
        <div [formGroupName]="i">
          {{i}}
          Product Name :
          <input type="text" formControlName="item">
          quantity:
          <input type="text" formControlName="quantity">
          quantityType:
          <input type="text" formControlName="quantityType">
          Desccription:
          <input type="text" formControlName="description">
   
          <button (click)="removeItem(i)">Remove</button>
        </div>
      </div>
    </div>
   
    <p>
      <button type="submit">Submit</button>
    </p>
   
  </form>
   
   
  <p>
    <button type="button" (click)="addItems()">Add Product</button>
  </p>

  <p>
    <button type="button" (click)="addCategory()">Add Category</button>
  </p> -->

<ng-container *ngIf="orderRequests.length > 0"> 
  <mat-accordion>
    <mat-expansion-panel *ngFor="let orderRequest of orderRequests">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Order request by {{orderRequest.primaryEmail}}
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <b>Email</b>:<p>{{orderRequest.primaryEmail}}</p>
          </div>
          <div class="col-md-2">
            <b>Address</b>:<p>{{orderRequest.address}}</p>
          </div>
          <div class="col-md-2">
            <b>Number</b>:<p>{{orderRequest.number}}</p>
          </div>
          <div class="col-md-2">
            <b>Locality</b>:<p>{{orderRequest.locality ? orderRequest.locality.name : '' }}</p>
          </div>
          <div class="col-md-2">
            <b>Category</b>:<p> <ng-container *ngFor="let cat of orderRequest.categories">{{cat.name}},</ng-container></p>
          </div>
        </div>
        <div class="row">
          <b>Ordered Items</b><br>
          <mat-accordion>
            <ng-container *ngIf="orderRequest.orderItems.length > 0">
              <mat-expansion-panel *ngFor="let item of orderRequest.orderItems">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Item added by {{item.user.username}}
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="container">
                  <div class="row">
                    <div class="col-md-2">
                      <b>Item</b><p>{{item.item}}</p>  
                    </div>
                    <div class="col-md-2">
                      <b>Quantity</b><p>{{item.quantity}}</p>  
                    </div>
                    <div class="col-md-2">
                      <b>Desciption</b><p>{{item.desciption}}</p>  
                    </div>
                    <div class="col-md-2">
                      <b>Quantity Unit</b><p>{{item.quantityType}}</p>  
                    </div>

                  </div>
                </div>
              </mat-expansion-panel>
            </ng-container>
            
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Add Item
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <form class="example-form" #updateOrderReqForm="ngForm" (ngSubmit)="onUpdateOrderRequest(updateOrderReqForm,orderRequest._id)">
    
                <mat-form-field class="example-full-width">
                  <input type="text" id="item" name="item" ngModel
                  required #item="ngModel" matInput placeholder="Item">
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                  <input type="number" id="quantity" name="quantity" ngModel
                  required #quantity="ngModel" matInput placeholder="Quantity">
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                  <input type="text" id="desciption" name="desciption" ngModel
                  required #desciption="ngModel" matInput placeholder="Desciption">
                </mat-form-field>

                
                <mat-form-field class="example-full-width">
                  <mat-label>Quantity Unit</mat-label>
                  <mat-select [(value)]="selectedQuantityType">
                    <mat-option [value]="type" *ngFor="let type of quantityTypes">{{type}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
        
          
                <button mat-stroked-button color="accent" class="btn-block">Add Item</button>
        
              </form>
            </mat-expansion-panel>

          </mat-accordion>
        </div>
      </div>


      <!-- <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput  [value] ="orderRequest.address">
        
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Number</mat-label>
        <input matInput type="number" min="1" [value] ="orderRequest.number">
      </mat-form-field> -->

    </mat-expansion-panel>
  </mat-accordion>
</ng-container>

<ng-container > 
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create new order request
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <form class="example-form" #createOrderReqForm="ngForm" (ngSubmit)="onCreateOrderRequest(createOrderReqForm)">
        
        <mat-form-field class="example-full-width">
          <input type="address" id="address" name="address" ngModel
          required #address="ngModel" matInput placeholder="address">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" id="number" name="number" ngModel
          required #number="ngModel" matInput placeholder="number">
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <input type="email" id="primaryEmail" name="primaryEmail" ngModel
          required #primaryEmail="ngModel" matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Locality</mat-label>
          <mat-select [(value)]="selectedLocality.name" (selectionChange)="onLocalitySelect($event)">
            <mat-option [value]="locality" *ngFor="let locality of localities">{{locality.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Category</mat-label>
          <mat-select [(value)]="selectedCategoriesString" (selectionChange)="onCategorySelect($event)">
            <mat-option [value]="category" *ngFor="let category of categories">{{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="accent" class="btn-block">Create Order Request</button>

      </form>
    

    </mat-expansion-panel>
  </mat-accordion>
</ng-container>

  