<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" #signupForm="ngForm" (ngSubmit)="onSignup(signupForm)">
  
        <mat-card-content>
        
          <mat-form-field class="example-full-width">
            <input type="email" id="email" name="email" ngModel
            required #email="ngModel" matInput placeholder="Email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input type="password" id="pass" name="pass" ngModel
            required #pass="ngModel" matInput placeholder="Password">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="text" id="mobile" name="mobile" ngModel
            required #mobile="ngModel" matInput placeholder="Mobile">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <mat-select [(value)]="selected">
              <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Register</button>
  
      </form>
    </mat-card>
  </div>