<div class="form-block w-form" style="width: 100%; max-width: 1100px;margin-right: auto;margin-left: auto;">
    <form id="wf-form-Add-Something" name="wf-form-Add-Something" data-name="Add Something">
        <h2 class="heading-9">Add a business<br>
        </h2>
        <p>It's <strong>free</strong> to be featured on&nbsp;Edinburgh&nbsp;Lockdown Economy. Just fill in the details of the business you think we should list below. If we have any questions, we'll get back to you. 
            <br>
            <br>
        <strong>Please note</strong>
        <br>We're experiencing lot's of requests but are we are working as fast as possible to get you listed.</p>
            <p>Want to request a business that isn't yours? <a href="/contact-us">Suggest someone here.</a>
            </p>
        <label for="name" class="field-label">Your name*</label>
        <input type="text" class="text-field w-input" maxlength="256" name="name" data-name="Name" placeholder="e.g. John Smith" id="name" required="">
        <label for="name-2" class="field-label">The business name*</label>
        <input type="text" class="text-field w-input" maxlength="256" name="Business-name" data-name="Business name" placeholder="Green Grocers" id="Business-name" required="">
        <label for="Business-address" class="field-label">Address</label>
        <input type="text" class="text-field w-input" maxlength="256" name="Business-address" data-name="Business address" placeholder="Marchmont, Edinburgh" id="Business-address" required="">
        <label for="Email" class="field-label">Your email address*</label>
        <input type="email" class="text-field-2 w-input" maxlength="256" name="Email" data-name="Email" id="Email" required="">
        <label for="Website-link" class="field-label">Business website*</label>
        <p>This is where we'll direct people to</p>
        <input type="text" class="w-input" maxlength="256" name="Website-link" data-name="Website link" placeholder="" id="Website-link" required="">
        <label for="Servies" class="field-label">Your lockdown offer*</label>
        <p>No more than 100 letters (we mean it). Check out others to see how it looks.</p>
        <textarea data-name="Lockdown offer" maxlength="5000" id="Lockdown-offer" name="Lockdown-offer" placeholder="e.g. 30mins free consultation &amp; activity pack to download" class="textarea-2 w-input">
        </textarea>
        <label for="Servies" class="field-label">Voucher code</label>
        <p>If you wan to track leads from our site (or if you want to promote something) then add a voucher code here and we'll include it. It's not required though :)</p>
        <input type="text" class="w-input" maxlength="256" name="Voucher-code" data-name="Voucher code" placeholder="e.g. EDLOCKDOWN" id="Voucher-code" required="">
        <label for="Servies-3" class="field-label">Brief description of services during lockdown*</label>
        <p>This appears on your main listing and can go into much more detail about who you are, what you do and the services you're able to maintain during lockdown.</p>
        <textarea data-name="Lockdown services" maxlength="5000" id="Lockdown-services" name="Lockdown-services" required="" class="w-input">
        </textarea>
        <label for="Delivery-collection" class="field-label-2">Any delivery / collection instructions (include social distancing measures)*</label>
        <textarea data-name="Delivery / collection" maxlength="5000" id="Delivery-collection" name="Delivery-collection" class="w-input">
        </textarea>
        <label for="Delivery-area" class="field-label-2">Delivery area</label>
        <input type="text" class="text-field w-input" maxlength="256" name="Delivery-area" data-name="Delivery area" placeholder="e.g. EH1 - EH6" id="Delivery-area" required="">
        <div data-sitekey="6LchHecUAAAAAF93CxjQ9R41hj-Q_KKLLKhvd6xj" class="w-form-formrecaptcha recaptcha g-recaptcha g-recaptcha-error g-recaptcha-disabled">
        <div style="width: 304px; height: 78px;">
        <div>
            <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LchHecUAAAAAF93CxjQ9R41hj-Q_KKLLKhvd6xj&amp;co=aHR0cHM6Ly93d3cuZWRpbmJ1cmdobG9ja2Rvd25lY29ub215LmNvbTo0NDM.&amp;hl=en&amp;v=zItNOfzbrqVGbb4QFYpPpcrw&amp;size=normal&amp;cb=xz9jjnezzmxf" width="304" height="78" role="presentation" name="a-lxzxz0vjoecd" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox">
            </iframe>
        </div>
        <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;">
        </textarea>
        </div>
        </div>
        <input type="submit" value="Add to the lockdown economy" data-wait="Please wait..." class="submit-button w-button">
        </form>
        <div class="success-message w-form-done">
        <h1 class="heading-10">Thank you!</h1>
        <div class="text-block-3">Our team will get on to this as soon as possible (please be patient as we're receiving a lot of requests right now).<br>
        <br>To speed things up, please send any imagery you'd like us to use to <a href="mailto:tom@vocal.app?subject=Images%20for%20listing">tom@vocal.app</a>
        </div>
        </div>
        <div class="w-form-fail">
        <div>Oops! Something went wrong - please try again <strong>or</strong> email us at <a href="mailto:tom@vocal.app?subject=Error%20message">
        <span class="text-span">tom@vocal.app</span>
</a>
</div>
</div>
</div>