<div class="section-7">
    <div class="w-container">
        <h1>Search</h1>
        <form action="/search" class="search-2 w-form">
            <input type="search" class="search-input-2 w-input" maxlength="256" name="query" placeholder="Find a local business..." id="search" required="" value="cake">
            <input type="submit" value="Search" class="search-button-2 w-button">
        </form>
        <div>
            <div class="search-result-items">
                <div>
                    <a href="/business/the-plant-patisserie" class="div-block-27 w-inline-block">
                        <div id="w-node-22130373d610-95d0a212" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e8769dca312210877ecf536/5e984712393904cfe13e91fe_Plant%20patisserie%20t.jpg&quot;)" class="div-block-32"></div>
                        <div class="div-block-33">
                            <h4 class="search-results-text">The Plant Patisserie</h4>
                            <p class="search-results-text"><span>provide you with delicious </span><strong>cake</strong><span> that is better for your health and the environment! Orders can be placed by email or by messaging me on social media accounts. Contact free pick up or delivery options are available on all </span><strong>cakes</strong><span>. Supported by. Vocal</span><span>…</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/business/detour-espresso" class="div-block-27 w-inline-block">
                        <div id="w-node-22130373d610-95d0a212" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e8769dca312210877ecf536/5e8c2f2f508530465504bf52_Detour%20Espresso%20thumb.jpg&quot;)" class="div-block-32"></div>
                        <div class="div-block-33">
                            <h4 class="search-results-text">Detour Espresso</h4>
                            <p class="search-results-text"><span>Detour Espresso. 39 Argyle Pl, Edinburgh EH9 1JT. Check our. instagram page. for daily opening times. Serving coffee and </span><strong>cake</strong><span> and soup (sometimes!) for takeaway. Please maintain social distancing at all times. Contactless payments only. 07811 149305. Supported by. Vocal</span><span>…</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/business/edinburgh-coffee-lounge" class="div-block-27 w-inline-block">
                        <div id="w-node-22130373d610-95d0a212" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e8769dca312210877ecf536/5e90a8ab51900d8cd211c788_Edinburgh%20coffee%20house%20t.jpg&quot;)" class="div-block-32"></div>
                        <div class="div-block-33">
                            <h4 class="search-results-text">Edinburgh Coffee Lounge</h4>
                            <p class="search-results-text"><span>masterpiece. There are no rules on </span><strong>cake</strong><span>. eat it when you want, where you want, on what you want and as much as you want. That's how </span><strong>cake</strong><span> should be. Supported by. Vocal</span><span>…</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/business/cuckoos-bakery" class="div-block-27 w-inline-block">
                        <div id="w-node-22130373d610-95d0a212" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e8769dca312210877ecf536/5e970eb2accf1d9db0e25e15_Cukoos%20t.jpg&quot;)" class="div-block-32"></div>
                        <div class="div-block-33">
                            <h4 class="search-results-text">Cuckoo's Bakery</h4>
                            <p class="search-results-text"><span>Cuckoo's Bakery. Edinburgh. Delicious celebration </span><strong>cakes</strong><span> for delivery every Friday and Saturday! See website for details of delivery times, availability of </span><strong>cakes</strong><span> and payment options. Delivery fee is free for orders over £35, £5.95 for orders under £35. Supported by. Vocal</span><span>…</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/business/buongusto" class="div-block-27 w-inline-block">
                        <div id="w-node-22130373d610-95d0a212" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e8769dca312210877ecf536/5e9043382a9d692de0cf0cad_Buongusto%20t.jpg&quot;)" class="div-block-32"></div>
                        <div class="div-block-33">
                            <h4 class="search-results-text">BuonGusto</h4>
                            <p class="search-results-text"><span>BuonGusto. Buckstone Terrace, Edinburgh. Delivery service Monday to Saturday. | FREE DELIVERY | Lasagna | Pasta | Coffee | Bacon rolls | Starters | </span><strong>Cakes</strong><span> | Coffee | Muffins | Juice | Soup | Cannoli</span><span>…</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/business/archipelago-artisan-bakery" class="div-block-27 w-inline-block">
                        <div id="w-node-22130373d610-95d0a212" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e8769dca312210877ecf536/5e8f0b084bf4e4e4c17fccc1_Archipeligo%20t.jpg&quot;)" class="div-block-32"></div>
                        <div class="div-block-33">
                            <h4 class="search-results-text">Archipelago Artisan Bakery</h4>
                            <p class="search-results-text"><span>Archipelago Artisan Bakery. 39 Dundas St, Edinburgh EH3 6QQ. Every item they bake is made by hand, using organic flour and local produce where possible. Re-opening Monday 4th May, 8.30am-3.30pm, Mon-S</span><span>…</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/business/abbis-pantry" class="div-block-27 w-inline-block">
                        <div id="w-node-22130373d610-95d0a212" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e8769dca312210877ecf536/5e972076717d3d771652043a_Abbis%20pantry%20t.jpg&quot;)" class="div-block-32"></div>
                        <div class="div-block-33">
                            <h4 class="search-results-text">Abbi's Pantry</h4>
                            <p class="search-results-text"><span>Abbi's Pantry. Edinburgh. Friday Treat Boxes and smaller Celebration </span><strong>Cakes</strong><span> that keep well. Free Doorstep Delivery. All boxes wiped down on arrival and left on the doorstep. I maintain proper social distancing at all times and respond to specific requests. Supported by. Vocal</span><span>…</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/business/love-crumbs" class="div-block-27 w-inline-block">
                        <div id="w-node-22130373d610-95d0a212" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e8769dca312210877ecf536/5e8c92850e07f24b13462461_Love%20crumbs%20thumb.jpg&quot;)" class="div-block-32"></div>
                        <div class="div-block-33">
                            <h4 class="search-results-text">Lovecrumbs</h4>
                            <p class="search-results-text"><span>Lovecrumbs. Old Town, Edinburgh. lovecrumbs is here to brighten up your lockdown! Offerings include </span><strong>cakes</strong><span>, loaves, cinnamon buns, snack boxes, flour, coffee, tea, hot chocolate, focaccia and more</span><span>…</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/business/marlenka" class="div-block-27 w-inline-block">
                        <div id="w-node-22130373d610-95d0a212" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e8769dca312210877ecf536/5e95c2b9bef5368c6a895955_marlenka%20t.jpg&quot;)" class="div-block-32"></div>
                        <div class="div-block-33">
                            <h4 class="search-results-text">Marlenka</h4>
                            <p class="search-results-text"><span>Marlenka. Edinburgh. We love to bake so you don't have to. Great Taste Awards winning company. British supplier of popular MARLENKA honey </span><strong>cakes</strong><span> and other confectionery, delivered contactless to you</span><span>…</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/business/the-wee-boulangerie" class="div-block-27 w-inline-block">
                        <div id="w-node-22130373d610-95d0a212" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e8769dca312210877ecf536/5e90406f2a9d69671ccf000a_Wee%20t.jpg&quot;)" class="div-block-32"></div>
                        <div class="div-block-33">
                            <h4 class="search-results-text">The Wee Boulangerie</h4>
                            <p class="search-results-text"><span>The Wee Boulangerie. Clerk St, Edinburgh. An artisan bakery for the Southside, making delicious and healthy breads, lunches, </span><strong>cakes</strong><span> and more, all from scratch on the premises. We are aiming to</span><span>…</span></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="div-block-23">
            <h5 class="heading-22">Are we missing something? </h5><a href="/add-something" class="button-4 w-button">Add a business</a></div>
    </div>
</div>