<div class="home-page-header">
    <div class="width-limit-1100">
        <div class="div-block-31">
            <!-- <div data-w-id="409e5997-e24a-e53c-4eb8-f3c6463ee85f" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;" class="lockdown-counter"><img src="https://uploads-ssl.webflow.com/5e8759d74692c3d52b0a1a9d/5e9d753a9ba599117c090c50_Day.svg" height="" alt="" class="image-11">
                <h5 class="heading-20 counter">DAY 30</h5></div>
            <div data-w-id="abeddae9-5b85-1c35-bd2e-6d9bae49ea1c" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;" class="visitor-counter"><img src="https://uploads-ssl.webflow.com/5e8759d74692c3d52b0a1a9d/5e9d754d2afc3ce0e938ab03_Visits.svg" height="" alt="" class="image-11">
                <h5 class="heading-20 counter">33,697&nbsp;VISITORS</h5></div> -->
            <div data-w-id="85de892b-7df1-2120-fb23-c5f569035ac2" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;" class="biz-counter"><img src="https://uploads-ssl.webflow.com/5e8759d74692c3d52b0a1a9d/5e9d755ae014f944a6ab240a_Biz.svg" height="" alt="" class="image-11">
                <h5 class="heading-20 counter">{{storeCount}} BUSINESSES</h5></div>
        </div>
        <div class="div-block-16">
            <h2 class="heading">Discover local independent businesses offering services and things to do during lockdown</h2>
            <div class='row' style="width: 80%;">
                <div class='col-6'>
                    <form action="/search" class="search w-form">
                        <!-- <input type="search" class="search-input w-input" maxlength="256" name="query" placeholder="Places, interests etc." id="search" required=""> -->
                        <!-- <input type="submit" value="Search" class="search-button w-button"> -->
                        <input type="search" class="search-input w-input" placeholder="Location or City" id="location" list="location_suggestion">
                        <!-- <span data-toggle="tooltip" class="technical__info" data-placement="top" title="1st line of text <br> 2nd line of text">i</span> -->
                        <datalist id="location_suggestion">
                        </datalist>
                    </form>
                </div>
                <div class='col-6'>
                    <a href="/newbusiness" class="button-4 w-button" style="margin-top: 25px;margin-left: 50%;">Add your business</a>
                </div>
            </div>
            <div class='row' style="width: 100%;">
                <div class='col-3'>
                    <img src="./../../assets/undraw_book_reading_kx9s.png" alt="" class="image-4">
                </div>
                <div class='col-3'>
                    <img src="./../../assets/undraw_Chef_cu0r.png" alt="" class="image-4">
                </div>
                <div class='col-3'>
                    <img src="./../../assets/undraw_different_love_a3rg.png" alt="" class="image-4">
                </div>
                <!-- <div class='col-3'>
                    <img src="./../../assets/undraw_discount_d4bd.png" alt="" class="image-4">
                </div> -->
                <div class='col-3'>
                    <img src="./../../assets/undraw_farm_girl_dnpe.png" alt="" class="image-4">
                </div>
            </div>    
        </div>
    </div>
</div>
<div class="section-2">
    <div class="width-limit-1100">
        <div class="filter-and-page">
            <h4 class="heading-21">Showing</h4>
            <div data-hover="" data-delay="200" class="dropdown w-dropdown" role="menu" aria-labelledby="w-dropdown-toggle-0">
                <div class="dropdown-toggle w-dropdown-toggle" tabindex="0" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0" aria-haspopup="menu" style="outline: none;">
                    <div class="icon-2 w-icon-dropdown-toggle"></div>
                    <h4 class="heading-8">All businesses</h4></div>
                <nav class="dropdown-list w-dropdown-list" id="w-dropdown-list-0"><a href="/" aria-current="page" class="dropdown-link-4 w-dropdown-link w--current" tabindex="-1" role="menuitem" style="outline: none;">All results</a><a href="/home-delivery" class="dropdown-link-4 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">All home deliveries</a><a href="/groceries" class="dropdown-link-4 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Groceries</a><a href="/nhs-discounts" class="dropdown-link-3 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">NHS discounts</a><a href="/health-fitness" class="dropdown-link w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Health &amp;&nbsp;fitness</a><a href="/kids-stuff" class="dropdown-link-4 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Kids stuff</a><a href="/takeaway-food" class="dropdown-link-2 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Takeaway food</a><a href="/shopping" class="dropdown-link w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Shopping</a><a href="/entertainment" class="dropdown-link-4 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Entertainment</a><a href="/coffee" class="dropdown-link-2 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Coffee &amp; tea</a><a href="/cakes-chocolate" class="dropdown-link-2 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Cake &amp; chocolate</a><a href="/booze" class="dropdown-link-4 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Booze</a><a href="/attractions-wildlife" class="dropdown-link-4 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Attractions &amp; wildlife</a><a href="/fundraising" class="dropdown-link-4 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Vouchers &amp; donations</a><a href="/learning" class="dropdown-link-4 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Learn something new</a><a href="/small-business-services" class="dropdown-link-4 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Small business services</a><a href="/home-services" class="dropdown-link-4 w-dropdown-link" tabindex="-1" role="menuitem" style="outline: none;">Home services</a></nav>
            </div>
        </div>
        <div class="w-layout-grid grid-5">
            <div class="popular-filters">
                <h5 class="pop-filter-intro">Featured filters</h5></div><a href="/nhs-discounts" class="div-block-34 w-inline-block"><h5 class="heading-26">NHS discounts</h5></a><a href="/entertainment" class="entertainment w-inline-block"><h5 class="heading-26">Entertainment</h5></a><a href="/attractions-wildlife" class="attractions w-inline-block"><h5 class="heading-26">Local Attractions</h5></a><a href="/fundraising" class="entertainment w-inline-block"><h5 class="heading-26">Vouchers </h5></a><a href="/groceries" class="entertainment w-inline-block"><h5 class="heading-26">Grocery</h5></a><a href="/takeaway-food" class="entertainment w-inline-block"><h5 class="heading-26">Takeaway food</h5></a></div>
        <div class="collection-list-wrapper w-dyn-list">
            <div class="w-dyn-items w-row">
                <div class="collection-item w-dyn-item w-col w-col-4"  *ngFor="let store of stores">
                    <a href="/store/{{store.id}}" class="business-card w-inline-block">
                        <div class="new-label">
                            <h5 class="new-heading">Flag</h5></div>
                        <div style="background-image:url(&quot;{{store.headImage}}&quot;)" class="business-image"></div>
                        <div class="div-block-2">
                            <h3 class="heading-6">{{store.Name}}</h3>
                            <h5 class="heading-5">{{store.localities.name}}</h5>
                            <div class="div-block-13">
                                <div class="div-block-14">
                                    <h6 class="heading-13">LOCKDOWN Offer :</h6></div>
                                <h1 class="heading-12">20% until the end of March. Free Delivery over £25</h1>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="w-pagination-wrapper">
                <div class="w-page-count page-count">1 / 21</div>
                <a href="?cb6bb9fa_page=2" class="w-pagination-next next">
                    <div class="text-block-6 w-inline-block">Next</div>
                </a>
            </div>
        </div>
    </div>
    
</div>